
.exercise-container {
    max-width: 800px;
    margin: 0 auto;
}

.exercise-description {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.sql-query-section {
    margin-bottom: 20px;
}

.sql-query-input {
    width: 100%;
    padding: 0px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.discussion-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.discussion-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.discussion-comments {
    list-style-type: none;
    padding: 0;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd; /* Add border to the entire table */
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/*
.header{

background-color: #dddddd;
border-radius: 5px 5px 0px 0px;
        
}
*/

/*
.header {
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #dddddd;
    height: 25px;
    border-radius: 5px 5px 0px 0px;

}
*/


.header-editor{
    display: flex;
    height: 25px;
    background-color: #007bff;
    border-radius: 5px 5px 0px 0px;        
}


.code-container {
    display: flex;
}

.line-numbers {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1em;
    text-align: right;
    line-height: 1.25;
    background-color: #f2f2f2;
    font-size: 16px;
}

/*
.line-numbers div {
    margin-bottom: 1em;
}
*/

.code {
    flex: 1;
    /*padding: 1em;*/
    /*white-space: pre-wrap;*/
    overflow-x: auto;
    font-size: 16px;
    line-height: 1.25;
}

/* Optional: Highlight the current line */
/*
.container:hover .line-numbers {
    background-color: #e0e0e0;
}   
*/

.red{
height:10px;
width: 10px;
border-radius: 10px;
background-color: red;
padding: 3px;
margin-left: 5px;
margin-top: 5px;
display: inline-flex;
}

.orange{
height:10px;
width: 10px;
border-radius: 10px;
background-color: orange;
padding: 3px;
margin-left: 5px;
margin-top: 5px;
display: inline-flex;
}

.green{
height:10px;
width: 10px;
border-radius:10px;
background-color: green;
padding: 3px;
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
display: inline-flex;
}

.libutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    text-align: center;
    outline: none;
    text-decoration: none !important;
    color: #ffffff !important;
    width: 200px;
    height: 32px;
    border-radius: 16px;
    background-color: #0A66C2;
    font-family: "SF Pro Text", Helvetica, sans-serif;
}

/* Add a class to hide elements initially */
/*
.hidden {
    display: none;
}
*/

.exercise-list {
display: flex;
flex-direction: column;

}

.exercise-item {
border-radius: 1px;
padding: 5px;
border-radius: 5px;

}

.exercise-item.active {
background-color: #f0f0f0;
}

.exercise-item p {
    margin-bottom: 0;
    display: none; /* Hide the description by default */
}

.exercise-item.active p {
display: block; /* Show the description for active exercise */

}        

.icon {
    margin-right: 5px;
    font-size: 1.2em;
}
.success {
    color: green;
}
.fail {
    color: red;
}
